body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(218, 216, 206);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#registroForm{
    background-color: rgb(226, 219, 211);
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 1px 1px 10px black;
}

label{
    display: block;
    margin-bottom: 5px;

}

label.inline{
    display: inline-block;
}

input, select{
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

input[type="text"], input[type="email"], input[type="number"], input[type="select"] {
    width: 100%;

}

input[type="submit"]{
    background-color: rgb(66, 66, 218);
    color: white;
    padding: 20px;
    justify-content: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    transition: .5s ease;
}


input[type="submit"]:hover{
    background-color: rgb(23, 78, 122);
    

}


.error{
    color: red;
    font-size: 10px;
}
